/* PC */

@media (min-width: 1024px) {}


/* TABLET */

@media (min-width: 740px) and (max-width: 1023px) {
    #page {
        margin: 100px 20px 40px;
    }
    #header {
        height: 70px;
    }
    .down-cv {
        margin-top: 12px;
    }
    .down-cv>i {
        margin-right: 2px;
    }
    .down-cv>a,
    .down-cv>i {
        font-size: 26px;
    }
    #heading>.content {
        padding-right: 0px;
    }
    #info-2 {
        display: flow-root;
    }
    #study {
        margin: 0px 0px 30px 30px;
    }
}


/* MOBILE */

@media (max-width: 740px) {
    #page {
        margin: 80px 10px 20px;
    }
    #header {
        height: 70px;
    }
    .down-cv {
        display: inline-block;
        margin-top: 18px;
    }
    .down-cv>i {
        margin-right: 2px;
    }
    .down-cv>a,
    .down-cv>i {
        font-size: 20px;
    }
    #heading {
        text-align: center;
        padding: 20px;
    }
    #heading>.content {
        width: 100%;
        margin: 20px;
        padding: 0;
        display: contents;
    }
    .content>.ava {
        width: 100%;
    }
    .ava>img {
        width: 160px;
        border-radius: 50%;
    }
    .name>h2 {
        font-size: 26px;
    }
    #info-1 {
        width: 100%;
    }
    .contact-content {
        width: 100% !important;
    }
    .skill-content {
        width: 100%;
    }
    #info-2 {
        width: 100%;
    }
    #target {
        max-width: 100%;
        margin: 50px 0 50px;
    }
    .target-content {
        width: 100%;
    }
    #study {
        margin: 0;
        margin-left: 10px;
    }
}